body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #f8f8f8 ;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	text-indent: 1.5em; 
    text-align: justify; 
    min-width: 400px;
    max-width: 1920;
}



input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color:#8FB723;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

nav {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
}



#wrapper {
	max-width: 980px;
	margin: auto;
}
.img {
	float:left;
}

header {
	padding: 20px 0;
}

aside {
	float: left;
	width: 250px;
}

aside {
	float: left;
	width: 250px;
}


section {
	margin-left: 280px;
	padding-bottom: 50px;
}

section > h2 {
	background: #29c5e6;
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	margin: 30px 0 0 0;
}

	figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}


.best_wine figure {
	margin-top: 20px;
}

.best_wine figure + figure {
	margin-left: 40px;
}

form[name="search"] {
	float: center;
}


footer {
	background-color: #7e7e7e;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}
nav a {
    text-decoration: none;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #8FB723;
	color: #fff;
}


	
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	overflow: hidden;
}

#footer {
	max-width: 980px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}


footer a {
	color: #dbdbdb;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}



#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}


#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}


