@import "compass/css3";

.navigation {
 list-style: none;
  margin: 0;
  background:#8FB723;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end; 
}

.navigation a {
  text-decoration: none; 
  display: block;
  padding: 1em;
  color: white;

}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

#nav {
    float: right;
    margin-top: 30px;
}


nav a {
	text-decoration: none;
}

body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #f8f8f8 ;
	border-top: 5px solid #7e7e7e;
	margin: 0;
    min-width: 400px;
    max-width: 1920;
    text-indent: 1.5em; 
}

.best_wine {
  display: flex; /* or inline-flex */
}
	
.best_wine {
  flex-direction: row;
}
 
.best_wine {
	border-radius:50px;
}

figure {
	text-align: center;
}

figure img {
	border-radius: 50%;
}



input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color:#8FB723;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

p {
	margin: 20px 0;
}



#wrapper {
	max-width: 980px;
	margin: auto;
}
.img {
	float:left;
}

#heading {
	margin: 30px 0;
	padding-right: 20px;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}

header {
	padding: 20px 0;
}



aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

.best_wine figure {
	margin-top: 20px;
}

.best_wine figure + figure {
	margin-left: 43px;
}

footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	overflow: hidden;
}

#footer {
	max-width: 980px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}

footer a {
	color: #dbdbdb;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}

#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}


