@import "compass/css3";

.navigation {
 list-style: none;
  margin: 0;
  background:#8FB723;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end; 
}

.navigation a {
  text-decoration: none; 
  display: block;
  padding: 1em;
  color: white;

}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

#nav {
    float: right;
    margin-top: 30px;
  
	
}

nav a {
	text-decoration: none;
}

.aside-nav ul {
	margin: 0;
	padding: 0;
	border: 1px solid #e7e7e7;
}
.aside-nav li {
	list-style-position: inside;
	font: 17px 'Oswald', sans-serif;
	padding: 10px;
}

body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0 auto;
	text-indent: 1.5em; 
    min-width: 400px;
    max-width: 1920px;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}

button {
	color: #fff;
	background-color: #8FB723;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

p {
	margin: 20px 0;
}



#wrapper {
	max-width: 980px;
	margin: auto;
}
header {
	padding: 20px 0;
}


form[name="search"] {
	float: right;
}




.aside-menu li {
	font-weight: 300;
	border-top: 1px solid #e7e7e7;
	list-style-type: none;
}

.aside-menu li:hover {
	font-weight: 300;
	background: #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
}

#heading {
	margin: 30px 0;
	padding-left: 20px;
}


h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}
aside {
	float: left;
	width: 250px;
}
section {
	margin-left: 280px;
	padding-bottom: 50px;
}

#img {
	float:right;
	margin:0 0 10px 10px;
}


blockquote {
	margin: 0;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    background-color: #e61f59;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #16784F 0%, #59C649 50%, #F0EE1E 100%);
 
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #0d0d0e;
	margin: 0;
	text-align: right;
}
figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 28px;
}
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	overflow: hidden;
}

#footer {
	max-width: 980px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}
footer a {
	color: #dbdbdb;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}
#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}