@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background:#8FB723;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #f8f8f8 ;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	text-indent: 1.5em; 
    text-align: justify; 
    min-width: 400px;
    max-width: 1920;
}

#wrapper {
	max-width: 980px;
	margin: auto;
}

#img {
	float:right;
	margin:0 0 10px 10px;
}

#text {

    text-shadow: 1px 1px 2px black, 0 0 1em yellow;
    color: white; 
    font-size: 1.5em; 
   }

.reclame {
	font-weight:900;
}

header {
	padding: 20px 0;
}

footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	overflow: hidden;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}


footer a {
	color: #dbdbdb;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}


#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}


