@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100&subset=latin,cyrillic-ext);

body {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    background: #333333;
    margin: 0 auto ;
    padding: 0 ;
    min-width: 420px;
    max-width: 1920px;
}

@media only screen and (max-width : 568px) {
	
}

.title {
	text-align: center;
}

.titleGrapes {
	text-align: center;
}


header {
	padding: 20px 0;
	background: #000;	
	margin-bottom: 30px;
}

a {
	color: #fff;
}

.logo path {
	fill: #fff;
}


#nav, #nav ul{
     margin:0;
     padding:0;
     list-style-type:none;
     list-style-position:outside;
     position:relative;
     line-height:1.5em;
 }
 
  #nav a:link, #nav a:active, #nav a:visited{
    display:block;
    padding:0px 5px;
    border:1px solid #333;
    color:#FFF;
    text-decoration:none;
    background-color:#000;
 }

#nav a:hover{
    background-color:#FFF;
    color:#333;
}


#nav li{
    float:left;
    position:relative;
    font-size: 20px;
}

#nav ul {
    position:absolute;
    width:12em;
    top:1.5em;
    display:none;
}
#nav a {
    font-size: 27px;
}


#nav li ul a{
    width:12em;
    float:left;
}

#nav ul ul{
	top:auto;
	}

#nav li ul ul {
    left:12em;
    margin:0px 0 0 10px;
    }

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
    display:none;
    }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
    display:block;
    }
    
    


#nav {
    float: right;
    margin-top: 10px;
}

/*
.navigation {
  list-style: none;
  margin: 0;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end; 
}


.navigation a {
  text-decoration: none; 
  display: block;
  padding: 0.6em 1em;
  position: relative;
  color: #fff;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width : 780px) {
	.navigation a {
		font-size: 15px;
	}
}

.navigation a:hover,
.navigation .active {
  color: #f5f5f5;
  background: #999999;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {

    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

#navigation {
  float:right;
  margin-top: 30px;
}  */

.item {
	width: 600px;
	height: 450px;
}

#wrapper {
	max-width: 1050px;
	margin: auto;
}

#img {
	float:right;
	margin:0 0 10px 10px;
}

.aside-nav ul {
    margin: 0;
	padding: 0;
	border: 1px solid #e7e7e7;
}

img {
    margin: 0 auto;
    padding: 0;
}

	

.aside-nav li {
	list-style-position: inside;
	padding: 10px;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}

button {
	color: #fff;
	background-color:#8FB723;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

.button {
	float:left;
    width: 150px;
    border-radius: 100px;
    height: 30px;
    padding: 10px 10px 0;
    border: 2px solid #8FB723;      
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    color: #8FB723;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    margin: 10px auto;
}

.button:hover {
    background-color: #8FB723;
	color: #fff;
}

.button.load {
    width: 30px;
    padding: 7px;
    border-left-color: #eee;
    border-top-color: #eee;

    animation:spin 3s linear infinite;
    animation-delay: .3s;
}

.button.success {
    background: #8FB723;
    color: #fff;
}


.button b {
     animation: showB .6s ease;
}

@keyframes showB { 
    0% { transform: scale(.1); },
    100% { transform: scale(1); } }

@keyframes spin { 100% { transform:rotate(360deg); } }

form[name="search"] {
	float: right;
}




.aside-menu li {
	font-weight: 400;
	border-top: 1px solid #e7e7e7;
	list-style-type: none;
}

.aside-menu li:hover {
	font-weight: 300;
	background: #e7e7e7;
}

.aside-menu li:hover a{
	color: #000;
}


.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #fff;
}

.aside-menu a:hover {
	color: #000;
}

#heading {
	margin: 30px 0;
	padding-left: 20px;
}




h1 {
	display: inline-block;
	color: #fff;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
	margin-top:-30px;
}
aside {
	float: left;
	width: 250px;
	margin-top: 30px;
}
section {
	margin-left: 350px;
	padding-bottom: 50px;
	padding: 20px;
}

#wine {
	margin-left: 350px;
	padding-bottom: 50px;
	padding: 50px;
	
}

#img {
	float:right;
	margin:0 -40px 10px 10px;
}

#img2 {
    float:right;
	margin:0 -80px 10px 10px;
}


.img {
	margin-top: -40px;
}

blockquote {
	margin: 0;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
    background-color: #e61f59;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #F8F4F4 0%, #666 50%, #111010 100%);
 
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #0d0d0e;
	margin: 0;
	text-align: right;
}
figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}
section > figure + figure {
	margin-left: 28px;
}

#best_wine {
  display: flex; /* or inline-flex */
}
	
#best_wine {
  flex-direction: row;
}
 
#best_wine {
	border-radius:50px;
}

#best_wine figure {
	text-align: center;
}

#best_wine figure  img {
	border-radius: 50%;
	border: 0;
	outline: 0;

}
  
.color {
	color:#000;
	font-size: 16px;
	font-weight: 600;
} 
   
   
 .onFocus {
   border: 2px solid green; 
   background-color: #f6f6f6;
  } 
   
   
   
 #hideForm {
 	color:#000;
 	text-decoration: underline;
 	margin-bottom: 15px;
 	cursor: pointer;
 } 

.reclame {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    background: #333333;	
}

#error {
	color: red;
	font-weight: 900;
}

#best_wine aside {
	float: left;
	width: 250px;
}
#best_wine section {
	margin-left: 280px;
	padding-bottom: 50px;
}

#best_wine figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

#best_wine figure {
	margin-top: 40px;
}

#best_wine figure + figure {
	margin-left: 125px;
}


#footer {
	max-width: 980px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}

footer {
	background: #7e7e7e;
	font-size: 11px;
	overflow: hidden;
	margin-top: 50px;
	padding: 10px;
}

footer a {
	color: #ffffff;
}

#sitemap {
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	text-decoration: none;
	font-size: 13px;
	margin-bottom: 5px;
    padding: 10px;
}

#sitemap a:hover {
	text-decoration: underline;
}


#footer-copyright {
	float: right;
	font-size: 13px;
}