body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #f8f8f8 ;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	text-indent: 1.5em; 
    text-align: justify; 
    min-width: 400px;
    max-width: 1920;
}

img {
	border: 0;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}

button {
	color: #fff;
	background-color:#8FB723;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

nav {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
}

#heading {
	background: transparent ;
	margin: 30px 0;
	padding-left: 20px;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	background:#f8f8f8  ;
	margin: 0;
	padding: 0 10px;
}

#wrapper {
	max-width: 980px;
	margin: auto;
}

header {
	padding: 20px 0;
}

aside {
	float: left;
	width: 250px;
}

aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

section {
	margin-left: 280px;
	padding-bottom: 50px;
}

form[name="search"] {
	float: right;
}

footer {
	background-color: #7e7e7e;
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu li.active {
	background: #8FB723;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color:#638712;
}

.aside-menu a {
	color: #8f8f8f;
}

blockquote {
	margin: 0;
	background:#8FB723; 
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #fff;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display: block;
	font-size: 20px;
	font-style: normal;
	color: #060606;;
	margin: 0;
	text-align: right;
}
#img {
	float:left;
	margin:10px 20px 10px 0;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

section > figure + figure {
	margin-left: 28px;
}
footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
	overflow: hidden;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
}

footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

footer a {
	color: #dbdbdb;
}

footer p {
	margin: 5px 0;
}


#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}


#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}


